$font-stack: -apple-system,
BlinkMacSystemFont,
Roboto,
Oxygen,
Ubuntu,
Cantarell,
“Fira Sans”,
“Droid Sans”,
“Helvetica Neue”,
Arial,
sans-serif;
$background-color: #f4994b;
$nav-item-color: #ffe4cd;
/*
 * Globals
 */
html {
  font-size: 20px;
}

body {
  font-family: $font-stack;
  color: #555;
  background-color: #d1d8e0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  font-family: $font-stack;
  font-weight: normal;
  color: #333;
}

/**
 * Site Header
 */
.site-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 2vw 6vw;
  text-align: center;
}

.site-header a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #082736;
  letter-spacing: .1em;
  font-weight: 900;
  font-size: 7vw;
  line-height: 1;
}

/**
 * Site Nav
 */
.site-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  list-style: none;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  li  {
    padding: 5px;
  }

  a i {
    color: #333;
  }
  a:hover i {
    color: #082736;
  }
}

/**
 * Site Main
 */
main {
  position: relative;
  min-height: 60vh;
  margin: 17vw 0 7rem;
  z-index: 2;
}

/**
 * Post
 */
.post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3vw;
  justify-content: center;
}

.post::after {
  display: block;
  content: "";
  height: 0;
}


.post section {
  flex: 0 1 auto;
  box-sizing: border-box;
  min-width: 35rem;
  max-width: 60%;
  background: rgba(255, 255, 255, .9);
}

.post-content {
  overflow: auto;
  padding: 4vw;
  margin-bottom: 10px;
}

.post-content.copy {
  .post-content-title {
    font-size: 1.6em;

    a {
      color: #333;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  pre {
    background-color: black;
    color: white;
  }
}

.copy h1,
.copy h2,
.copy h3,
.copy ol,
.copy p,
.copy ul {
  margin: 0 0 1.2em;
}

.post-content footer {
  font-size: 1em;
  font-style: italic;
  text-align: right;
}

/**
 *  Form, New and Edit
 */
.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  font-size: 1.2em;
  padding: 5px;
}

.CodeMirror {
  height: 250px !important;
}

.CodeMirror.cm-s-paper {
  height: 100% !important;
}

/**
 * Buttons
 */
.btn {
  background-color: #fff;
  font-size: 1em;
  text-decoration: none;
  border: 1px solid #333;
  padding: 0.5em;
  cursor: pointer;
  color: #333;
}

/**
 *  Errors
 */
.errors-wrapper {
  margin-bottom: 10px;
}

.errors {
  padding: 10px;
  color: #333;
  text-decoration: underline;
}