$font-stack: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
$background-color: #f4994b;
$nav-item-color: #ffe4cd;

/*
 * Globals
 */
body {
  font-family: $font-stack;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: $font-stack;
  font-weight: normal;
  color: #333;
}
